body {
    font-family: sans-serif;
    background-color: #193be2d8;
    display: flex;
    justify-content: left;
    align-items: top;
    height: 100vh;
    margin: 0;
}

a.button{
    padding: 1px 6px;
    border: 1px outset buttonborder;
    border-radius: 3px;
    color: #727272d8;
    background-color: #727272d8;
    max-width: 400px;
}